<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Restaurant.Properties.Settings.restaurantConnectionString"
            connectionString="Data Source=DESKTOP-V9RJLL8;Initial Catalog=restaurant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Restaurant.Properties.Settings.restaurantConnectionString1"
            connectionString="Data Source=DESKTOP-QF9S06Q;Initial Catalog=restaurant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>